<div class="main top-main">
  <div class="top-message">
    <h2>未来は貴方の行動の先に</h2>
    <p></p>
    <div class="explanatory-text">
        <p>よりよい未来をつかみ取るために、行動を継続することはとても大切です。</p>
        <p>このアプリは貴方が行動を継続するための役に立つでしょう。</p>
        <p>本アプリは、学習時間を集計し、可視化することで学習のモチベーションを保つ手助けをします。</p>
    </div>
  </div>
</div>